<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Chat</title>
  </head>
  <body>
    <main class="container">
      <ul id="list">
        {{#each messages}}
            <li>{{this.username}} : {{ this.message }}</li>
        {{/each}}
      </ul>
      <form action="/messages" method="POST" onsubmit="envoieMessage(event)" id="chat">
        <input type="text" name="message"/>
        <input type="hidden" name="username" value="Nicolas"/>
        <input type="submit" value="Send" />
      </form>
    </main>
    <script type="text/javascript">
      function envoieMessage(event) {
        event.preventDefault()

        const message = document.querySelectorAll('[name=message]')[0].value
        const username = document.querySelectorAll('[name=username]')[0].value

        const response = fetch('/messages', {
          method: 'POST',
          body: JSON.stringify({message, username}),
          headers: {'Content-Type': 'application/json'}
        })
      }

      const eventSource = new EventSource('/messages/sse');
      eventSource.onmessage = ({ data }) => {
        data = JSON.parse(data)
        const list = document.getElementById('list')
        const element = document.createElement('li')
        element.innerHTML = `${data.username}: ${data.message}`
        list.appendChild(element)
      }
    </script>
  </body>
</html>
